/* Dark mode */
body.dark {
  background: #121212;
  color: #eee;
}

body.dark #panel {
  background: #1e1e1e;
  color: #eee;
  border-right: 1px solid #444;
}

body.dark input,
body.dark textarea,
body.dark button {
  background: #2a2a2a;
  color: #eee;
  border: 1px solid #555;
}

body.dark #fansList {
  border-top: 1px solid #444;
}
